body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #f5f5f5; /* A pale grey background, neutral */
}

.App.light {
  color: #2a5934; /* A dark green for text, readable */
  background-color: #f4f4f9; /* A light background for the light theme */
}

.App.dark {
  color: #ccc; /* Light text for dark theme */
  background-color: #20232a; /* Dark background for the dark theme */
}

.App-header {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: background-color 0.3s, color 0.3s;
}

input, select, button {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #89a47f; /* Lighter green for borders */
  transition: all 0.3s ease;
  background: #fff; /* Keeping inputs and buttons light for visibility */
}

input:hover, select:hover, button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  border-color: #2a5934; /* Darker green for hover state */
}

input:focus, select:focus {
  border-color: #a63e14; /* Terracotta color for focus */
  outline: none;
}

button {
  cursor: pointer;
  background-color: #2a5934; /* Dark green for buttons */
  color: white;
  border: none;
}

button:hover {
  background-color: #3e6f50; /* A slightly lighter green for button hover */
}

@media (max-width: 600px) {
  .App-header {
    width: 100%;
    padding: 10px;
  }

  input, select, button {
    width: 100%;
  }
}
